@import "utilities/variables";


div.album--style {background-color:$color4;}

div.album {

	.album_novedades:hover {box-shadow:2vh 1vh $color1,-2vh -1vh $color2;}
	.album_novedades{
		cursor: crosshair;
		background-color:$color4;
		border:$amarillo solid 0.5vh;
		transition: box-shadow 0.9s;

		.album_novedades--title {
			border-bottom: $amarillo 0.8vh solid;
			background-color:$color3;
			font:{size:4vh;family:$subtitulo;};
			color:$amarillo;
		}
	}
	.album_producto--style:hover {
		background-color:#B0BFD7;
		transform:scale(1.08);}
	.album_producto--style{
		transition: background-color 0.8s,transform 0.8s;
		background-color:$color3;

		img {opacity: 0.6;}
		@mixin product {
			font-size:6.5vh;
			color:$color3;
			text-shadow: 0 0 1vh $color1,0 0 1.5vh $color2;
			font-weight: bold;
		}
		.album_producto_text--name{
			@include product;}
		.album_producto_text--price{
			@include product;
			text-shadow: 0 0 2vh $amarillo;
			font-size: 4vh;}
	}
}

div.albumSect--style {
	background-color:$color4;

	.albumSect_producto:hover {box-shadow:0 0}
	.albumSect_producto{
		border:$color1 0.4vh groove;
		transition: box-shadow 1s;
		box-shadow:0.8vh 1.2vh $color2,-0.8vh -1.2vh $color1;

		@mixin product {
			font-size:3.2vh;
			color:$color3;
			font-weight: bold;}
		.albumSect_producto--body {
			border-top:$color1 0.8vh groove;
			.albumSect_producto_name{
				@include product;}
			.albumSect_producto_text{
				font-size: 2.5vh;
				color:$color3;}
			.albumSect_producto_price{
				@include product;
				font-size: 2.5vh;}
		}
	}
}
