//  A LA HORA DE PASAR A 78, ACORDARSE DE LOS TAMAÑOS QUE CAMBIAR
@media only screen and (max-width: 992px) {
    header {
        h1 {
            margin: 0;
            margin-left: -0.2rem;
            font-size: 10.8rem;

            span {
                margin: 0 -0.3rem 0 -0.3rem;
            }
        }
    }
}

//  A LA HORA DE PASAR A 78, ACORDARSE DE LOS TAMAÑOS QUE CAMBIAR
@media only screen and (max-width: 768px) {
    header {
        h1 {
            margin: 0;
            margin-left: -0.2rem;
            font-size: 8.8rem;

            span {
                margin: 0 -0.3rem 0 -0.3rem;
            }
        }
    }
}


@media only screen and (max-width: 600px) {

    header {
        @mixin LOGObasic--query {
            margin: 0;
            margin-left: -0.1rem;
            margin-bottom: -1rem;
            font-size: 6.8rem;
        }

        @mixin LOGOinteract--query {
            span:hover {font-size: 6.8rem;}
            span {margin: 0 -0.2rem 0 -0.2rem;}
        }

        h1 {
            @include LOGObasic--query;
            @include LOGOinteract--query;
        }

        h1.titulo_section {
            @include LOGObasic--query;
            a {@include LOGOinteract--query;}
        }


        h1.contacto_logo--style {
            @include LOGObasic--query;
            font-size: 6rem;
            @include LOGOinteract--query;
            padding-top: 0.5rem;
        }
    }

    nav {
        justify-content: center !important;
        transform: translate(0, -1rem);

        span {transform: scale(0.7) translate(0, 1rem);}

        ul {
            li {
                margin: 0 auto;
                span {font-size: 1rem !important;}
            }
        }
    }

    div.album {
        padding-top: 0.8rem !important;

        .album_novedades:hover {box-shadow: -0.5rem -0.5rem $color2, 0.5rem 0.5rem $color1;}

        .album_novedades {
            box-shadow: -0.5rem -0.5rem $color2, 0.5rem 0.5rem $color1;
            transition: none;

            .album_novedades--title {font: {size: 1.6rem;}}
            .album_novedades--body>blockquote {font-size: 0.9rem;}
        }

        .album_producto--style:hover {transform: scale(1.03);}
        .album_producto--style {
            transition: background-color 0.3s, transform 0.8s;
            .album_producto_text--name {font-size: 1.8rem;}
            .album_producto_text--price {font-size: 1.5rem;}
        }

        div.carousel-item>img {height: 15rem;}
    }

    div.albumSect--style {
        .albumSect_producto {
        	box-shadow:0.2rem 0.4rem $color2,-0.2rem -0.4rem $color1;
            transition: box-shadow 0.4s;

            @mixin product {
            	margin-bottom: 0 !important;
                font-size: 1.4rem;
            }

            .albumSect_producto--body {
            	padding:0.6rem !important;
                border-top: $color1 0.3rem groove;

                .albumSect_producto_name {
                    @include product;
                }

                .albumSect_producto_text {
                	margin-bottom: 0.2rem !important;
                    font-size: 1rem;
                }

                .albumSect_producto_price {
                    @include product;
                    font-size: 1.1rem;
                }
            }
        }
    }

    footer {
        .footer_contenido {
            font-size: 1rem;
            h6 {
                font-size: 1.8rem;
            }
        }
    }

    .contacto {
		iframe {border:$color1 groove 0.5vh; height: 165%}
		.iframe {margin-bottom: 8rem}
	}


}