nav.navbar--navColor {
	padding: 0;
	background-color: $color3;
	cursor: cell;
	border-bottom: $color1 solid 1.5vh;


	.navbar_navIcon {transition:0.4s;} 
	.change .navbar_navIcon {transform: rotate(-45deg);}

	.navbar_navIcon_prod {transform: rotate(-45deg);}
	.navbar_navIcon_prod {transition:0.4s;} 
	.change .navbar_navIcon_prod {transform: rotate(0deg);}


}





#navbarsEx {cursor: pointer;}
nav{
	li:hover {color:$color4;}
	li {
		.nav-item--style {
			user-select: none;
			text-decoration: none;
			color: $color1;
			font-size: 3vh;
		}
		span {transition: color 0.5s}	
		
	}
}
