@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
header {
  background-color: #393e46; }
  header h1 {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1 span:hover {
      transform: scale(0.95); }
    header h1 span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
  header h1.titulo_section {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1.titulo_section a span:hover {
      transform: scale(0.95); }
    header h1.titulo_section a span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
  header a:hover {
    text-decoration: none; }
  header h1.contacto_logo--style {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive;
    padding-top: 4vh;
    font-size: 18vh;
    cursor: default; }
    header h1.contacto_logo--style span:hover {
      transform: scale(0.95); }
    header h1.contacto_logo--style span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
    header h1.contacto_logo--style span:hover {
      transform: scale(1); }
    header h1.contacto_logo--style span {
      cursor: pointer;
      margin: 0; }

.logo-letter1 {
  animation: logo_letter 0.3s linear 0.08s forwards; }

.logo-letter1-contacto {
  animation: logo_contacto 20s linear 0.08s infinite; }

.logo-letter2 {
  animation: logo_letter 0.3s linear 0.16s forwards; }

.logo-letter2-contacto {
  animation: logo_contacto 20s linear 0.16s infinite; }

.logo-letter3 {
  animation: logo_letter 0.3s linear 0.24s forwards; }

.logo-letter3-contacto {
  animation: logo_contacto 20s linear 0.24s infinite; }

.logo-letter4 {
  animation: logo_letter 0.3s linear 0.32s forwards; }

.logo-letter4-contacto {
  animation: logo_contacto 20s linear 0.32s infinite; }

.logo-letter5 {
  animation: logo_letter 0.3s linear 0.4s forwards; }

.logo-letter5-contacto {
  animation: logo_contacto 20s linear 0.4s infinite; }

.logo-letter6 {
  animation: logo_letter 0.3s linear 0.48s forwards; }

.logo-letter6-contacto {
  animation: logo_contacto 20s linear 0.48s infinite; }

@keyframes logo_letter {
  40% {
    color: white; }
  50% {
    color: #A8D8EA; }
  60% {
    color: white; } }

@keyframes logo_contacto {
  49.7% {
    color: #92FB6D; }
  49.8% {
    color: white; }
  50% {
    color: #A8D8EA; }
  50.2% {
    color: white; }
  50.3% {
    color: #92FB6D; } }

nav.navbar--navColor {
  padding: 0;
  background-color: #393e46;
  cursor: cell;
  border-bottom: #92FB6D solid 1.5vh; }
  nav.navbar--navColor .navbar_navIcon {
    transform: rotate(-45deg); }
  nav.navbar--navColor .navbar_navIcon {
    transition: 0.4s; }
  nav.navbar--navColor .change .navbar_navIcon {
    transform: rotate(0deg); }
  nav.navbar--navColor .navbar_navIcon_sect {
    transition: 0.4s; }
  nav.navbar--navColor .change .navbar_navIcon_sect {
    transform: rotate(-45deg); }

#navbarsEx {
  cursor: pointer; }

nav li:hover {
  color: #eeeeee; }

nav li .nav-item--style {
  user-select: none;
  text-decoration: none;
  color: #92FB6D;
  font-size: 3vh; }

nav li span {
  transition: color 0.5s; }

footer .footer_barraRedes {
  border-top: #92FB6D solid 0.5vh;
  border-bottom: #92FB6D solid 0.5vh;
  background-color: #393e46; }
  footer .footer_barraRedes h6 {
    color: #eeeeee;
    font-size: 4vh; }

footer .footer_contenido {
  background-color: #393e46;
  font-size: 2.4vh; }
  footer .footer_contenido h6 {
    font-size: 3vh;
    color: #92FB6D;
    opacity: 0.8;
    border-bottom: #92FB6D 0.1vh solid; }
  footer .footer_contenido p, footer .footer_contenido a {
    color: #eeeeee;
    opacity: 0.8; }

div.album--style {
  background-color: #eeeeee; }

div.album .album_novedades:hover {
  box-shadow: 2vh 0.5vh #92FB6D; }

div.album .album_novedades {
  cursor: crosshair;
  background-color: #eeeeee;
  border: #CCE639 solid 0.5vh;
  box-shadow: -2vh -0.5vh #A8D8EA;
  transition: box-shadow 1.4s; }
  div.album .album_novedades .album_novedades--title {
    border-bottom: #CCE639 0.8vh solid;
    background-color: #393e46;
    font-size: 4vh;
    font-family: "Mukta Malar", sans-serif;
    color: #CCE639; }

div.album .album_producto--style:hover {
  background-color: #B0BFD7;
  transform: scale(1.08); }

div.album .album_producto--style {
  transition: background-color 0.8s,transform 0.8s;
  background-color: #393e46; }
  div.album .album_producto--style img {
    opacity: 0.6; }
  div.album .album_producto--style .album_producto_text--name {
    font-size: 6.5vh;
    color: #393e46;
    text-shadow: #92FB6D 0.1vh 0.1vh, #92FB6D -0.1vh 0.1vh, #92FB6D -0.1vh -0.1vh, #92FB6D 0.1vh -0.1vh;
    font-weight: bold; }
  div.album .album_producto--style .album_producto_text--price {
    font-size: 6.5vh;
    color: #393e46;
    text-shadow: #92FB6D 0.1vh 0.1vh, #92FB6D -0.1vh 0.1vh, #92FB6D -0.1vh -0.1vh, #92FB6D 0.1vh -0.1vh;
    font-weight: bold;
    font-size: 4vh; }

div.albumP--style {
  background-color: #eeeeee; }
  div.albumP--style .albumP_producto:hover {
    box-shadow: 0 0; }
  div.albumP--style .albumP_producto {
    border: #92FB6D 0.4vh groove;
    box-shadow: 0.8vh 1.2vh #A8D8EA, -0.8vh -1.2vh #92FB6D;
    transition: box-shadow 1s; }
    div.albumP--style .albumP_producto .albumP_producto--body {
      border-top: #92FB6D 0.8vh groove; }
      div.albumP--style .albumP_producto .albumP_producto--body .albumP_producto_name {
        font-size: 3.2vh;
        color: #393e46;
        font-weight: bold; }
      div.albumP--style .albumP_producto .albumP_producto--body .albumP_producto_text {
        font-size: 2.5vh;
        color: #393e46; }
      div.albumP--style .albumP_producto .albumP_producto--body .albumP_producto_price {
        font-size: 3.2vh;
        color: #393e46;
        font-weight: bold;
        font-size: 2.5vh; }

section.producto {
  padding-top: 3vh;
  padding-bottom: 8vh;
  background-color: #eeeeee; }
  section.producto .producto_nav {
    padding-bottom: 0.5vh; }
    section.producto .producto_nav li.breadcrumb-item a {
      color: #393e46; }
    section.producto .producto_nav li.breadcrumb-item a.producto_nav--logo:hover {
      text-decoration: none; }
    section.producto .producto_nav li.breadcrumb-item a.producto_nav--logo {
      color: #92FB6D;
      font-family: "Fugaz One", cursive;
      font-size: 6vh; }
  section.producto .producto_foto {
    border-radius: 0.5vh;
    border: #92FB6D 0.4vh groove;
    box-shadow: 0.5vh 0.9vh #A8D8EA, -0.5vh -0.9vh #92FB6D; }
    section.producto .producto_foto .producto_foto--slider {
      background-color: #393e46; }
  section.producto .producto_data {
    padding-top: 5vh; }
    section.producto .producto_data .producto_data_name {
      text-shadow: 1vh 0 #A8D8EA;
      margin: 0;
      color: #393e46;
      font-family: "Mukta Malar", sans-serif;
      font-size: 10vh;
      font-weight: bold; }
    section.producto .producto_data .producto_data_price {
      filter: grayscale(40%);
      color: #92FB6D;
      font-weight: bold;
      font-size: 6.5vh;
      font-family: "Mukta Malar", sans-serif;
      text-shadow: #393e46 0.15vh 0.1vh, #393e46 -0.1vh 0.1vh, #393e46 -0.1vh -0.1vh, #393e46 0.15vh -0.1vh; }
    section.producto .producto_data ul.nav-tabs {
      border-bottom: 0.2vh solid #92FB6D; }
      section.producto .producto_data ul.nav-tabs a.nav-link {
        color: #393e46; }
      section.producto .producto_data ul.nav-tabs a.nav-link.active {
        font-weight: bold; }
    section.producto .producto_data .producto_data_text {
      color: #393e46; }
    section.producto .producto_data form {
      margin-top: 8vh;
      color: #393e46; }
      section.producto .producto_data form h6 {
        margin-bottom: 1.5vh;
        font-size: 3vh;
        font-weight: bold; }
      section.producto .producto_data form label.active.btn-secondary {
        color: #92FB6D;
        filter: blur(0); }
      section.producto .producto_data form label.btn {
        filter: blur(0.08vh); }
      section.producto .producto_data form .modal-header {
        border-color: #A8D8EA; }
        section.producto .producto_data form .modal-header h5 {
          margin-left: 3vh;
          font-family: "Mukta Malar", sans-serif;
          color: #92FB6D;
          font-size: 8vh; }
      section.producto .producto_data form .modal-body {
        color: #eeeeee;
        background-color: #393e46;
        border-color: #A8D8EA;
        font-size: 3vh; }

header {
  background-color: #393e46; }
  header h1 {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1 span:hover {
      transform: scale(0.95); }
    header h1 span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
  header h1.titulo_section {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1.titulo_section a span:hover {
      transform: scale(0.95); }
    header h1.titulo_section a span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
  header a:hover {
    text-decoration: none; }
  header h1.contacto_logo--style {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive;
    padding-top: 4vh;
    font-size: 18vh;
    cursor: default; }
    header h1.contacto_logo--style span:hover {
      transform: scale(0.95); }
    header h1.contacto_logo--style span {
      transition: transform 1.2s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none; }
    header h1.contacto_logo--style span:hover {
      transform: scale(1); }
    header h1.contacto_logo--style span {
      cursor: pointer;
      margin: 0; }

.logo-letter1 {
  animation: logo_letter 0.3s linear 0.08s forwards; }

.logo-letter1-contacto {
  animation: logo_contacto 20s linear 0.08s infinite; }

.logo-letter2 {
  animation: logo_letter 0.3s linear 0.16s forwards; }

.logo-letter2-contacto {
  animation: logo_contacto 20s linear 0.16s infinite; }

.logo-letter3 {
  animation: logo_letter 0.3s linear 0.24s forwards; }

.logo-letter3-contacto {
  animation: logo_contacto 20s linear 0.24s infinite; }

.logo-letter4 {
  animation: logo_letter 0.3s linear 0.32s forwards; }

.logo-letter4-contacto {
  animation: logo_contacto 20s linear 0.32s infinite; }

.logo-letter5 {
  animation: logo_letter 0.3s linear 0.4s forwards; }

.logo-letter5-contacto {
  animation: logo_contacto 20s linear 0.4s infinite; }

.logo-letter6 {
  animation: logo_letter 0.3s linear 0.48s forwards; }

.logo-letter6-contacto {
  animation: logo_contacto 20s linear 0.48s infinite; }

@keyframes logo_letter {
  40% {
    color: white; }
  50% {
    color: #A8D8EA; }
  60% {
    color: white; } }

@keyframes logo_contacto {
  49.7% {
    color: #92FB6D; }
  49.8% {
    color: white; }
  50% {
    color: #A8D8EA; }
  50.2% {
    color: white; }
  50.3% {
    color: #92FB6D; } }

.contacto {
  background-color: #eeeeee; }
  .contacto iframe {
    margin: 1vh;
    border: #92FB6D groove 0.5vh; }
  .contacto .contacto_data h2 {
    color: #393e46;
    font-family: "Mukta Malar", sans-serif;
    font-size: 10vh; }
  .contacto .contacto_data form {
    color: #393e46; }
    .contacto .contacto_data form .modal-header {
      border-color: #A8D8EA; }
      .contacto .contacto_data form .modal-header h5 {
        margin-left: 3vh;
        font-family: "Mukta Malar", sans-serif;
        color: #92FB6D;
        font-size: 8vh; }
    .contacto .contacto_data form .modal-body {
      color: #eeeeee;
      background-color: #393e46;
      border-color: #A8D8EA;
      font-size: 3vh; }

body {
  background-color: #eeeeee; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #CDFB6D; }

::-webkit-scrollbar-thumb {
  background: #393e46; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6D7786; }

@media only screen and (max-width: 992px) {
  header h1 {
    margin: 0;
    margin-left: -0.2rem;
    font-size: 10.8rem; }
    header h1 span {
      margin: 0 -0.3rem 0 -0.3rem; } }

@media only screen and (max-width: 768px) {
  header h1 {
    margin: 0;
    margin-left: -0.2rem;
    font-size: 8.8rem; }
    header h1 span {
      margin: 0 -0.3rem 0 -0.3rem; } }

@media only screen and (max-width: 600px) {
  header h1 {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem; }
    header h1 span {
      margin: 0 -0.2rem 0 -0.2rem; }
  header h1.titulo_section {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem; }
    header h1.titulo_section a span {
      margin: 0 -0.2rem 0 -0.2rem; }
  header h1.contacto_logo--style {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem;
    font-size: 6rem;
    padding-top: 0.5rem; }
    header h1.contacto_logo--style span {
      margin: 0 -0.2rem 0 -0.2rem; }
  nav {
    transform: translate(0, -1rem); }
    nav span {
      transform: scale(0.7) translate(0, 1rem); } }
