@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");
header {
  background-color: #393e46; }
  header h1 {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1 span:hover {
      font-size: 33vh; }
    header h1 span {
      transition: font-size 0.5s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none;
      text-shadow: 0 0 0.5vh #92FB6D; }
  header h1.titulo_section {
    display: flex;
    cursor: cell;
    width: 100%;
    margin: -1vh 3vh 1vh 3vh;
    font-size: 35vh;
    font-family: "Fugaz One", cursive; }
    header h1.titulo_section a span:hover {
      font-size: 33vh; }
    header h1.titulo_section a span {
      transition: font-size 0.5s;
      color: #92FB6D;
      display: inline-block;
      margin: 0 -1vh 0 -1vh;
      user-select: none;
      text-shadow: 0 0 0.5vh #92FB6D; }
  header a:hover {
    text-decoration: none; }
  header .logo-letter1 {
    animation: logo_letter 0.3s linear 0.08s forwards; }
  header .logo-letter2 {
    animation: logo_letter 0.3s linear 0.16s forwards; }
  header .logo-letter3 {
    animation: logo_letter 0.3s linear 0.24s forwards; }
  header .logo-letter4 {
    animation: logo_letter 0.3s linear 0.32s forwards; }
  header .logo-letter5 {
    animation: logo_letter 0.3s linear 0.4s forwards; }
  header .logo-letter6 {
    animation: logo_letter 0.3s linear 0.48s forwards; }

@keyframes logo_letter {
  45% {
    color: white; }
  50% {
    color: #A8D8EA;
    transform: scale(0.98);
    text-shadow: 0 0 3vh #A8D8EA; }
  55% {
    color: white; } }

nav.navbar--navColor {
  padding: 0;
  background-color: #393e46;
  cursor: cell;
  border-bottom: #92FB6D solid 1.5vh; }
  nav.navbar--navColor .navbar_navIcon {
    transform: rotate(-45deg); }
  nav.navbar--navColor .navbar_navIcon {
    transition: 0.4s; }
  nav.navbar--navColor .change .navbar_navIcon {
    transform: rotate(0deg); }

#navbars {
  cursor: pointer; }

nav {
  justify-content: start; }
  nav ul li:hover {
    color: #eeeeee; }
  nav ul li .nav-item--style {
    user-select: none;
    text-decoration: none;
    color: #92FB6D;
    font-size: 3vh; }
  nav ul li span {
    transition: color 0.5s; }

footer {
  background-color: #393e46; }
  footer .footer_barraRedes {
    border-top: #92FB6D solid 0.5vh;
    border-bottom: #92FB6D solid 0.5vh; }
    footer .footer_barraRedes h6 {
      color: #eeeeee;
      font-size: 4vh; }
  footer .footer_contenido {
    padding-top: 5vh;
    font-size: 2.4vh; }
    footer .footer_contenido h6 {
      font-size: 4.5vh;
      color: #92FB6D;
      text-shadow: 0 0 0.4vh #A8D8EA;
      opacity: 0.8;
      border-bottom: #92FB6D 0.1vh solid; }
    footer .footer_contenido p, footer .footer_contenido a {
      color: #eeeeee;
      opacity: 0.8; }

div.album--style {
  background-color: #eeeeee; }

div.album {
  padding-top: 4vh;
  padding-bottom: 20vh; }
  div.album div.container .container_novedades:hover {
    box-shadow: 2vh 1vh #92FB6D, -2vh -1vh #A8D8EA; }
  div.album div.container .container_novedades {
    margin-bottom: 4vh;
    cursor: crosshair;
    background-color: #eeeeee;
    border: #CCE639 solid 0.5vh;
    transition: box-shadow 0.9s; }
    div.album div.container .container_novedades .container_novedades--title {
      border-bottom: #CCE639 0.8vh solid;
      background-color: #393e46;
      font-size: 4vh;
      font-family: "Mukta Malar", sans-serif;
      letter-spacing: 1.2vh;
      color: #CCE639; }
  div.album div.carousel {
    margin-bottom: 14vh;
    border-bottom: 0.5vh solid #A8D8EA; }
    div.album div.carousel ol {
      transform: translateY(4vh); }
      div.album div.carousel ol .active {
        background-color: #92FB6D;
        box-shadow: 0.25vh 0.25vh black; }
      div.album div.carousel ol li {
        border: 0.2vh solid #393e46;
        background-color: #A8D8EA;
        width: 20px;
        height: 20px;
        transform: skew(-25deg); }
  div.album div.media.container_media .media_img:hover, div.album div.media.container_media .media_img--reverse:hover {
    box-shadow: 0 0;
    border-color: #3A4A50; }
    div.album div.media.container_media .media_img:hover div, div.album div.media.container_media .media_img--reverse:hover div {
      opacity: 1;
      transform: translateY(-2.5vh); }
  div.album div.media.container_media .media_img {
    position: relative;
    box-shadow: 0.4vh 0.75vh #A8D8EA, 0.8vh 1.5vh #A2D0E1, 0.8vh 1.5vh #96C1D1;
    border: 0.5vh solid #92FB6D;
    border-radius: 2%;
    transition: box-shadow 0.8s,border 1.2s; }
    div.album div.media.container_media .media_img div {
      transition: opacity 1.8s,transform 2s;
      opacity: 0;
      position: absolute;
      left: 30%;
      bottom: 5%;
      text-decoration: none;
      font-size: 5vh;
      font-family: "Mukta Malar", sans-serif;
      font-weight: bold;
      letter-spacing: 1.5vh;
      color: #92FB6D;
      text-shadow: -0.2vh -0.2vh #393e46, 0.2vh 0.2vh #393e46, -0.2vh 0.2vh #393e46, 0.2vh -0.2vh #393e46; }
  div.album div.media.container_media .media_img--reverse {
    position: relative;
    box-shadow: -0.4vh 0.75vh #A8D8EA, -0.8vh 1.5vh #A2D0E1, -0.8vh 1.5vh #96C1D1;
    border: 0.5vh solid #92FB6D;
    border-radius: 2%;
    transition: box-shadow 0.8s,border 1.2s; }
    div.album div.media.container_media .media_img--reverse div {
      transition: opacity 1.8s,transform 2s;
      opacity: 0;
      position: absolute;
      left: 40%;
      bottom: 5%;
      text-decoration: none;
      font-size: 5vh;
      font-family: "Mukta Malar", sans-serif;
      font-weight: bold;
      letter-spacing: 1.5vh;
      color: #92FB6D;
      text-shadow: -0.2vh -0.2vh #393e46, 0.2vh 0.2vh #393e46, -0.2vh 0.2vh #393e46, 0.2vh -0.2vh #393e46; }
  div.album div.media.container_media .media_body {
    padding: 3vh;
    position: absolute;
    width: 80%;
    bottom: 20%;
    background-image: linear-gradient(90deg, rgba(57, 62, 70, 0.4), rgba(57, 62, 70, 0.9));
    left: 55%; }
  div.album div.media.container_media .media_body--reverse {
    padding: 3vh;
    position: absolute;
    width: 80%;
    bottom: 20%;
    background-image: linear-gradient(-90deg, rgba(57, 62, 70, 0.4), rgba(57, 62, 70, 0.9));
    right: 55%; }
  div.album div.media.container_media h5:hover {
    text-shadow: 0 0; }
    div.album div.media.container_media h5:hover svg {
      visibility: visible; }
  div.album div.media.container_media h5 {
    margin: 0;
    transition: text-shadow 0.5s;
    letter-spacing: 0.8vh;
    color: #92FB6D;
    text-shadow: 0 0 0.5vh #A8D8EA;
    font-size: 6.5vh;
    font-weight: bold; }
    div.album div.media.container_media h5 svg {
      margin-right: 2vh;
      visibility: hidden; }
  div.album div.media.container_media span {
    color: #CCE639;
    font-size: 4vh;
    text-shadow: 0 0 0.2vh #A8D8EA; }
  div.album div.media.container_media p {
    color: #eeeeee;
    font-size: 2.5vh;
    margin-top: 1vh; }

div.albumSect--style {
  background-color: #eeeeee; }
  div.albumSect--style .albumSect_producto:hover {
    box-shadow: 0 0; }
  div.albumSect--style .albumSect_producto {
    border: #92FB6D 0.4vh groove;
    transition: box-shadow 1s;
    box-shadow: 0.8vh 1.2vh #A8D8EA, -0.8vh -1.2vh #92FB6D; }
    div.albumSect--style .albumSect_producto .albumSect_producto--body {
      border-top: #92FB6D 0.8vh groove; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_name {
        font-size: 3.2vh;
        color: #393e46;
        font-weight: bold; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_text {
        font-size: 2.5vh;
        color: #393e46; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_price {
        font-size: 3.2vh;
        color: #393e46;
        font-weight: bold;
        font-size: 2.5vh; }

section.producto {
  padding-top: 3vh;
  padding-bottom: 8vh;
  background-color: #eeeeee; }
  section.producto .producto_nav {
    padding-bottom: 0.5vh; }
    section.producto .producto_nav li.breadcrumb-item a {
      color: #393e46; }
    section.producto .producto_nav li.breadcrumb-item a.producto_nav--logo:hover {
      text-decoration: none; }
    section.producto .producto_nav li.breadcrumb-item a.producto_nav--logo {
      color: #92FB6D;
      font-family: "Fugaz One", cursive;
      font-size: 6vh; }
  section.producto .producto_foto {
    border-radius: 0.5vh;
    border: #92FB6D 0.4vh groove;
    box-shadow: 0.5vh 0.9vh #A8D8EA, -0.5vh -0.9vh #92FB6D; }
    section.producto .producto_foto .producto_foto--slider {
      background-color: #393e46; }
  section.producto .producto_data {
    padding-top: 5vh; }
    section.producto .producto_data .producto_data_name {
      text-shadow: 1vh 0 #A8D8EA;
      margin: 0;
      color: #393e46;
      font-family: "Mukta Malar", sans-serif;
      font-size: 10vh;
      font-weight: bold; }
    section.producto .producto_data .producto_data_price {
      filter: grayscale(40%);
      color: #92FB6D;
      font-weight: bold;
      font-size: 6.5vh;
      font-family: "Mukta Malar", sans-serif;
      text-shadow: #393e46 0.15vh 0.1vh, #393e46 -0.1vh 0.1vh, #393e46 -0.1vh -0.1vh, #393e46 0.15vh -0.1vh; }
    section.producto .producto_data ul.nav-tabs {
      border-bottom: 0.2vh solid #92FB6D; }
      section.producto .producto_data ul.nav-tabs a.nav-link {
        color: #393e46; }
      section.producto .producto_data ul.nav-tabs a.nav-link.active {
        font-weight: bold; }
    section.producto .producto_data .producto_data_text {
      color: #393e46; }
    section.producto .producto_data form {
      margin-top: 8vh;
      color: #393e46; }
      section.producto .producto_data form h6 {
        margin-bottom: 1.5vh;
        font-size: 3vh;
        font-weight: bold; }
      section.producto .producto_data form label.active.btn-secondary {
        color: #92FB6D;
        filter: blur(0); }
      section.producto .producto_data form label.btn {
        filter: blur(0.08vh); }
      section.producto .producto_data form .modal-header {
        border-color: #A8D8EA; }
        section.producto .producto_data form .modal-header h5 {
          margin-left: 3vh;
          font-family: "Mukta Malar", sans-serif;
          color: #92FB6D;
          font-size: 8vh; }
      section.producto .producto_data form .modal-body {
        color: #eeeeee;
        background-color: #393e46;
        border-color: #A8D8EA;
        font-size: 3vh; }

.contacto {
  background-color: #eeeeee; }
  .contacto iframe {
    border: #92FB6D groove 0.5vh;
    height: 85%; }
  .contacto .contacto_data {
    letter-spacing: -0.2vh; }
    .contacto .contacto_data h2 {
      color: #393e46;
      font-family: "Mukta Malar", sans-serif;
      font-size: 4.8vh; }
    .contacto .contacto_data form {
      color: #393e46; }
      .contacto .contacto_data form .modal-header {
        border-color: #A8D8EA; }
        .contacto .contacto_data form .modal-header h5 {
          margin-left: 3vh;
          font-family: "Mukta Malar", sans-serif;
          color: #92FB6D;
          font-size: 8vh; }
      .contacto .contacto_data form .modal-body {
        color: #eeeeee;
        background-color: #393e46;
        border-color: #A8D8EA;
        font-size: 3vh; }

body {
  background-color: #eeeeee; }

/* width */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #CDFB6D; }

::-webkit-scrollbar-thumb {
  background: #393e46; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6D7786; }

@media only screen and (max-width: 600px) {
  header h1 {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem; }
    header h1 span:hover {
      font-size: 6.8rem; }
    header h1 span {
      margin: 0 -0.2rem 0 -0.2rem; }
  header h1.titulo_section {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem; }
    header h1.titulo_section a span:hover {
      font-size: 6.8rem; }
    header h1.titulo_section a span {
      margin: 0 -0.2rem 0 -0.2rem; }
  header h1.contacto_logo--style {
    margin: 0;
    margin-left: -0.1rem;
    margin-bottom: -1rem;
    font-size: 6.8rem;
    font-size: 6rem;
    padding-top: 0.5rem; }
    header h1.contacto_logo--style span:hover {
      font-size: 6.8rem; }
    header h1.contacto_logo--style span {
      margin: 0 -0.2rem 0 -0.2rem; }
  nav {
    justify-content: center !important;
    transform: translate(0, -1rem); }
    nav span {
      transform: scale(0.7) translate(0, 1rem); }
    nav ul li {
      margin: 0 auto; }
      nav ul li span {
        font-size: 1rem !important; }
  div.album {
    padding-top: 0.8rem !important; }
    div.album .album_novedades:hover {
      box-shadow: -0.5rem -0.5rem #A8D8EA, 0.5rem 0.5rem #92FB6D; }
    div.album .album_novedades {
      box-shadow: -0.5rem -0.5rem #A8D8EA, 0.5rem 0.5rem #92FB6D;
      transition: none; }
      div.album .album_novedades .album_novedades--title {
        font-size: 1.6rem; }
      div.album .album_novedades .album_novedades--body > blockquote {
        font-size: 0.9rem; }
    div.album .album_producto--style:hover {
      transform: scale(1.03); }
    div.album .album_producto--style {
      transition: background-color 0.3s, transform 0.8s; }
      div.album .album_producto--style .album_producto_text--name {
        font-size: 1.8rem; }
      div.album .album_producto--style .album_producto_text--price {
        font-size: 1.5rem; }
    div.album div.carousel-item > img {
      height: 15rem; }
  div.albumSect--style .albumSect_producto {
    box-shadow: 0.2rem 0.4rem #A8D8EA, -0.2rem -0.4rem #92FB6D;
    transition: box-shadow 0.4s; }
    div.albumSect--style .albumSect_producto .albumSect_producto--body {
      padding: 0.6rem !important;
      border-top: #92FB6D 0.3rem groove; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_name {
        margin-bottom: 0 !important;
        font-size: 1.4rem; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_text {
        margin-bottom: 0.2rem !important;
        font-size: 1rem; }
      div.albumSect--style .albumSect_producto .albumSect_producto--body .albumSect_producto_price {
        margin-bottom: 0 !important;
        font-size: 1.4rem;
        font-size: 1.1rem; }
  .contacto iframe {
    border: #92FB6D groove 0.5vh;
    height: 165%; }
  .contacto .iframe {
    margin-bottom: 8rem; }
  section.producto {
    padding-top: 0;
    padding-bottom: 0; }
    section.producto div.order-1 {
      margin-left: 0 !important;
      padding-top: 0 !important; }
    section.producto .producto_nav {
      padding-bottom: 0.5vh; }
      section.producto .producto_nav li.breadcrumb-item {
        padding-left: 0.2rem !important; }
        section.producto .producto_nav li.breadcrumb-item a.producto_nav--logo {
          padding-right: 0.2rem;
          font-size: 1.9rem; }
      section.producto .producto_nav li.item1 {
        font-size: 0.9rem !important; }
      section.producto .producto_nav li.item2 {
        font-size: 0.8rem !important; }
    section.producto .producto_data {
      padding-top: 0.1rem; }
      section.producto .producto_data .producto_data_name {
        text-shadow: 0.6rem 0 #A8D8EA;
        font-size: 3rem; }
      section.producto .producto_data .producto_data_price {
        margin-top: -0.8rem !important;
        margin-bottom: 0.8rem !important;
        font-size: 2rem; }
      section.producto .producto_data form {
        margin-top: 1.5rem;
        margin-bottom: 4.5rem; }
        section.producto .producto_data form h6 {
          margin-bottom: 0.1rem;
          font-size: 1.2rem; }
        section.producto .producto_data form .form-group {
          margin-top: 0rem; }
        section.producto .producto_data form ul.list-inline {
          margin-top: 1rem;
          transform: scale(0.9) translate(11.5rem, 0); }
  footer .footer_contenido {
    font-size: 1rem; }
    footer .footer_contenido h6 {
      font-size: 1.8rem; } }

@media only screen and (max-width: 768px) {
  header h1 {
    margin: 0;
    margin-left: -0.2rem;
    font-size: 8.8rem; }
    header h1 span {
      margin: 0 -0.3rem 0 -0.3rem; } }

@media only screen and (max-width: 992px) {
  header h1 {
    margin: 0;
    margin-left: -0.2rem;
    font-size: 10.8rem; }
    header h1 span {
      margin: 0 -0.3rem 0 -0.3rem; } }
