@media only screen and (max-width: 600px) {

    header {
        @mixin LOGObasic--query {
            margin: 0;
            margin-left: -0.1rem;
            margin-bottom: -1rem;
            font-size: 6.8rem;
        }

        @mixin LOGOinteract--query {
            span:hover {font-size: 6.8rem;}
            span {margin: 0 -0.2rem 0 -0.2rem;}
        }

        h1 {
            @include LOGObasic--query;
            @include LOGOinteract--query;
        }

        h1.titulo_section {
            @include LOGObasic--query;
            a {@include LOGOinteract--query;}
        }


        h1.contacto_logo--style {
            @include LOGObasic--query;
            font-size: 6rem;
            @include LOGOinteract--query;
            padding-top: 0.5rem;
        }
    }

    nav {
        justify-content: center !important;
        transform: translate(0, -1rem);

        span {transform: scale(0.7) translate(0, 1rem);}

        ul {
            li {
                margin: 0 auto;
                span {font-size: 1rem !important;}
            }
        }
    }

    div.album {
        padding-top: 0.8rem !important;

        .album_novedades:hover {box-shadow: -0.5rem -0.5rem $color2, 0.5rem 0.5rem $color1;}

        .album_novedades {
            box-shadow: -0.5rem -0.5rem $color2, 0.5rem 0.5rem $color1;
            transition: none;

            .album_novedades--title {font: {size: 1.6rem;}}
            .album_novedades--body>blockquote {font-size: 0.9rem;}
        }

        .album_producto--style:hover {transform: scale(1.03);}
        .album_producto--style {
            transition: background-color 0.3s, transform 0.8s;
            .album_producto_text--name {font-size: 1.8rem;}
            .album_producto_text--price {font-size: 1.5rem;}
        }

        div.carousel-item>img {height: 15rem;}
    }

    div.albumSect--style {
        .albumSect_producto {
        	box-shadow:0.2rem 0.4rem $color2,-0.2rem -0.4rem $color1;
            transition: box-shadow 0.4s;

            @mixin product {
            	margin-bottom: 0 !important;
                font-size: 1.4rem;
            }

            .albumSect_producto--body {
            	padding:0.6rem !important;
                border-top: $color1 0.3rem groove;

                .albumSect_producto_name {
                    @include product;
                }

                .albumSect_producto_text {
                	margin-bottom: 0.2rem !important;
                    font-size: 1rem;
                }

                .albumSect_producto_price {
                    @include product;
                    font-size: 1.1rem;
                }
            }
        }
    }

    .contacto {
		iframe {border:$color1 groove 0.5vh; height: 165%}
		.iframe {margin-bottom: 8rem}
	}


	section.producto {
		padding-top:0;padding-bottom:0;
		div.order-1 {margin-left: 0 !important;padding-top: 0 !important;}

		.producto_nav {
			padding-bottom: 0.5vh;
			li.breadcrumb-item {
				padding-left:0.2rem !important;
				a.producto_nav--logo {
					padding-right:0.2rem;
					font-size:1.9rem}}

			li.item1 {font-size: 0.9rem !important;}
			li.item2 {font-size: 0.8rem !important;}
		}

		.producto_data {
			padding-top:0.1rem;
			.producto_data_name{
				text-shadow: 0.6rem 0 $color2;
				font-size:3rem;}

			.producto_data_price {
				margin:{top: -0.8rem !important;bottom:0.8rem !important;}
				font-size: 2rem;}

			form {
				margin:{top: 1.5rem;bottom:4.5rem;}
				h6 {
					margin-bottom:0.1rem;
					font-size:1.2rem;}

				.form-group {margin-top: 0rem;}
				ul.list-inline{
					margin-top: 1rem;
					transform: scale(0.9) translate(11.5rem,0);} 

			}	
		}
	}


    footer {
        .footer_contenido {
            font-size: 1rem;
            h6 {
                font-size: 1.8rem;
            }
        }
    }



}